@media only screen and (max-width: 957px) {
    .wrapper {
        flex-direction: column;
    }

    .welcome {
        order: 1;
        margin-top: 10px;
        margin: 0;
    }
    .avatar {
        order: 0;
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 655px) {
    .welcome {
        &__title {
            font-size: 30px;
            line-height: 34px;
        }

        &__description {
            font-size: 14px;
        }
    }

    .links {
        flex-direction: column;
        &__btn {
            width: 100%;
            &:not(:last-child){
              margin: 0 0 5px 0;
            }
        }
    }
}
